body{background: url('http://myzeroone.com/myzeroone/17542-mac-book-backgrounds_25635.jpg');}
 html {
    height: 100%;
    }
     body{
    background-image: url("http://myzeroone.com/myzeroone/17542-mac-book-backgrounds_25635.jpg");
    height: 100vh;
    background-size: cover;
    border: 2px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }